*
{
    margin:0;
    padding:0;
}
.divheader
{
    background-color: black;
    width:100%;
    height:60px;
    justify-content:space-around;
    align-items: center;
    display: flex;
}
.cleva a
{
    color:white;
    font-size:25px;
    margin-left:510px;
    font-family: 'Alumni Sans', sans-serif;
}
.center a
{
    color:white;
    font-size:35px;
    margin-bottom:2px;
    font-family: 'Alumni Sans', sans-serif;
}
.pravo a
{
    color:white;
    font-size:25px;
    margin-right:510px;
    font-family: 'Alumni Sans', sans-serif;
}
.fonheader
{
    height:650px;
    background-image: url("../img/fonheaderg.jpg");
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items:center;
}
.divhead3r
{
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size:24px;
    background-color: black;
    width:590px;
    padding-left:12px;
    padding-right:12px;
    padding-top:12px;
    padding-bottom:12px;
}
a
{
    text-decoration: none;
}
.ssylka a
{
    color:black;
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    display: flex;
    align-items:center;
    font-size:24px;
    background-color: #D9D9D9;
    height:50px;
    font-weight: 800;
}
.text1
{
    color:black;
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    display: flex;
    margin-top:30px;
    font-size:24px;
    font-weight: 900;
}
.text2
{
    color:black;
    font-family: 'Inconsolata', monospace;
    justify-content:center;
    display: flex;
    margin-top:30px;
    font-size:24px;
    font-weight: 800;
    margin-bottom:30px;
}
footer
{
    background-color:#D9D9D9;
    height:320px;
    display:flex;
    justify-content:space-around;
}
.valvecorp
{
    color:#17849C;
    font-family: 'Inconsolata', monospace;
    margin-top:65px;
}
.contact
{
    color:#17849C;
    font-family: 'Inconsolata', monospace;
    margin-top:50px;
}
.stuff
{
    color:#17849C;
    font-family: 'Inconsolata', monospace;
    margin-top:50px;
}.morestuff
{
    color:#17849C;
    font-family: 'Inconsolata', monospace;
    margin-top:50px;
}
.contact1
{
    color:#105A6A;
    font-family: 'Inconsolata', monospace;
    font-size:25px;
    font-weight:1000px;
    margin-top:4px;
}
.stuff1
{
    color:#105A6A;
    font-family: 'Inconsolata', monospace;
    font-size:25px;
    font-weight:1000px;
    margin-top:4px;
}
.morestuff1
{
    color:#105A6A;
    font-family: 'Inconsolata', monospace;
    font-size:25px;
    font-weight:1000px;
    margin-top:4px;
}
.steam a
{
    color:#0F505F;
    font-family: 'Inconsolata', monospace;
    font-weight:bold;
    font-size:40px;
}
.steam{
    margin-top:90px;
}